
<div class="conateiner">
    <h1 class="text-center">Mapa de google</h1>
    <div class="row justify-content-center py-5">
        <button type="button" (click)="onCerrarSesion()" class="btn btn-primary">
            Cerrar Sesión
        </button>
    </div>
</div>
<ng-container *ngIf="statusMapa">
    <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
        <agm-marker-cluster>
            <agm-marker *ngFor="let item of dataMarker" [latitude]="item.fields.lat" [longitude]="item.fields.long"
                (markerClick)="openWindow(item.recordid)">

                <agm-info-window [isOpen]="isInfoWindowOpen(item.recordid)" [latitude]="item.fields.lat" [longitude]="item.fields.long">
                    <h2>{{ item.fields.nombre  }}</h2>
                    <p>{{ item.fields.alcaldia }}</p>
                    <p>{{ item.fields.region }}</p>
                </agm-info-window>

            </agm-marker><!-- multiple markers -->
        </agm-marker-cluster>
    </agm-map>
</ng-container>